#home-splash
	background: url('../img/pezzente-properties-beach-front-chairs-old-saybrook-connecticut.jpg') no-repeat center/cover
	width: 100%
	height: 100%

	.banner
		position: absolute
		right: 1rem
		bottom: 3rem
		width: 25rem

	h2
		color: #eee
		font-size: $base-font-size + 1.5rem
		font-weight: 400
		font-style: italic
		text-transform: uppercase
		line-height: 1.5

