#home-splash
	background: url('../img/pezzente-properties-beach-front-chairs-old-saybrook-connecticut.jpg') no-repeat center/cover
	width: 100%
	height: 100%
	
	.banner
		position: absolute
		bottom: 3.75rem
		right: 1rem
		width: 25rem
		@include responsive(xs)
			width: 20rem
		@include responsive(xxs)
			width: 92%

	h2
		color: #eee
		font-size: $base-font-size + 1.5rem
		font-weight: 400
		font-style: italic
		text-transform: uppercase
		line-height: 1.5
		@include responsive(xs)
			font-size: $base-font-size + 1rem
		@include responsive(xxs)
			font-size: $base-font-size
