html, body
	height: 100%
	margin: 0
	padding: 0

#content
	padding-bottom: 5rem

.btn-link
	display: inline-block
	background: $blue
	margin-right: 1rem
	padding: 0.625rem 1.5rem
	border-radius: 2px
	border: 2px solid $white
	box-shadow: 1px 1px 4px $shadow
	color: $white
	font-size: $base-font-size

.btn-action
	background: $red

.disclaimer
	font-size: $base-font-size - 0.125rem